/**************************************
 * 重置、扩展第三方插件的样式
   带gl-*为扩展样式，其它则为重置样式
 *************************************/

/**************************************
 * 各组件的专用设置页面面板的样式
 *************************************/

.gl-component-setter .arco-collapse-item-content, .gl-component-setter .arco-collapse-item-content-box {
    padding: 0;
}

/* 属性值上下居中 */
.gl-component-setter .gl-table-cell:not(.gl-label) {
    vertical-align: middle;
}

.arco-select-option.gl-selected {
    color: #165DFF;
    font-weight: bold;
}
.arco-select-option.gl-selected:before{
    content: "√";
}




/**************************************
 * 属性配置面
 *************************************/

.gl-component-properties-setter .gl-flex {
    display: flex;
    background-color: #fafafa;
}

.gl-component-properties-setter .gl-flex > .gl-label {
    text-align: right;
    padding-right: 8px;
    width: 7em;
    min-width: 7em;
    border-top: 1px solid var(--gl-color-border);
}

/* 调整border */
.gl-component-properties-setter .gl-flex > .gl-label:last-child, .gl-component-properties-setter .gl-flex.gl-flex-columns > .gl-label {
    border-top: 0px
}

/* 调整border */
.gl-component-properties-setter .gl-property-setter.gl-flex.gl-flex-columns > .gl-content .gl-property-setter.gl-flex:first-child > .gl-label {
    border-top: 0px
}


.gl-component-properties-setter .gl-flex:not(.gl-flex-columns) > .gl-content {
    flex: 1;
    padding: 3px 0px 3px 3px;
    background-color: white;
    border-left: 1px solid var(--gl-color-border);
    border-bottom: 1px solid var(--gl-color-border);
    border-right: 1px solid var(--gl-color-border);
}

.gl-component-properties-setter .gl-flex-columns {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gl-color-border);
}

.gl-component-properties-setter .gl-flex.gl-flex-columns > .gl-label {
    text-align: left;
}

.gl-component-properties-setter .gl-flex.gl-flex-columns {
    background-color: white;
    border-bottom: 1px solid var(--gl-color-border);
}

.gl-component-properties-setter .gl-flex-rows {
    display: flex;
    flex-direction: row;
}

.gl-component-properties-setter .gl-table-cell.gl-label {
    text-align: left;
}
