/* 重置卡片标题样式 */
.arco-card-header-title {
    font-weight: 600;
}


.arco-input-wrapper .arco-input[disabled],.arco-select-view-single.arco-select-view-disabled
,.arco-radio-disabled .arco-radio-label,.arco-picker input[disabled],
.arco-checkbox-disabled .arco-checkbox-label{
    -webkit-text-fill-color: #696969;
}

.gl-tree .arco-tree-node-indent-block {
    margin-right: 0 !important;
}


/* 表格的滾動条位置向下调整1.1em，这样不会挡到表格的内容，不会不小心点到滾動条*/
.arco-scrollbar-track-direction-horizontal {
    bottom: -1.1em !important;
}
