/* 重置卡片标题样式 */
.arco-card-header-title {
    font-weight: 600;
}

.arco-picker input[disabled] {
    -webkit-text-fill-color: rgb(119 121 124);
}

.arco-input-wrapper .arco-input[disabled] {
    -webkit-text-fill-color: rgb(119 121 124);
}

.gl-tree .arco-tree-node-indent-block {
    margin-right: 0 !important;
}

