/**
 * override
 */

/* 默认删除图标为红色 */

.gl-theme-default .anticon.anticon-delete {
    color: red;
}

.gl-required, .gl-delete-icon {
    color: red;
}

.gl-tips:after {
    content: '？'
}

.gl-thunderbolt-icon.gl-active{
    color: royalblue;
}