/**
 * override
 */

/* 默认删除图标为红色 */

.gl-theme-default .anticon.anticon-delete {
    color: red;
}

.gl-required {
    color: red;
}

.gl-tips {
    padding-bottom: 2px;
    border-bottom: 2px dotted rgba(49, 49, 49, 0.6);
    cursor: help;
}

.gl-thunderbolt-icon.gl-active {
    color: royalblue;
}

